<ion-view title="Testr" delegate-handle="myScroll" has-header="true">
	<div id="openTicketCheckPhone" class="show-for-small-down"></div>



			
			<ion-content padding="true" has-header="true">
				
                  <ng-map zoom="14">
        <directions
          draggable="true"
          travel-mode="DRIVING"
          origin={{mapSource}}
          destination={{mapDestination}}>
        </directions>
      </ng-map>
      <br/>
      <br/>
     
                
                
			</ion-content>


    <!-- align to the bottom of the page -->
    
</ion-view>

<!--   -->
